.panel-div {
    min-width: 500px;
    padding: 35px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.btn:hover{
    background-color: #1a73e8;
}

.btn-primary {
    background-color: #1a73e8;
}

.nav {
    background-color: #ffffff;
    color: #000000;
}

.a-nav-bar {
    color: #5f6368;
}

input.no-input-border {
    border-bottom: none;
}

input:focus.no-input-focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

textarea.no-textarea-border {
    border-bottom: none;
}

textarea:focus.no-textarea-focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.create-card {
    width: 600px;
}
