.panel-div {
    min-width: 500px;
    padding: 35px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.btn:hover{
    background-color: #1a73e8;
}

.btn-primary{
    background-color: #1a73e8;
}

.nav {
    background-color: #ffffff;
    color: #000000;
}

.a-nav-bar {
    color: #5f6368;
}

input.no-input-border {
    border-bottom: none;
}

input:focus.no-input-focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

textarea.no-textarea-border {
    border-bottom: none;
}

textarea:focus.no-textarea-focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.create-card {
    width: 600px;
}

a.modal-button {
    color: #000000;
    text-decoration: none;
}

a:hover.background-modal-button {
    color: #000000;
    background-color: rgba(95, 99, 104, 0.039);
    text-decoration: none;
}

.modal {
    max-height: 100%;
    overflow: visible;
    background-color: unset;
    position: fixed;
}

.modal-content {
    max-width: 600px;
    height: 240px;
}

.modal-header.no-modal-header-border {
    border-bottom: none;
}

.modal-footer.custom-modal-footer {
    background-color: unset;
    border-top: none
}

.modal-icons {
    color: #202124;
    font-size: 19px;
}

.icons-space {
    padding-right: 20px;
}

a:hover.icons-modal {
    opacity: .87;
    background-color: rgba(95, 99, 104, 0.157);
    border: 2px solid #ddd;
    border-radius: 50%;
}
